 #al{ 
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    float: left;
    width: 100%;
    background-color: #fa8fb18e;
    border-radius: 30px;
        padding-right: auto;
        margin-bottom: 40px;
    padding: 10px 40px;
