*{
    box-sizing: border-box;
}
body{
    margin:0
    background-color:#f9e8f0 ;
    font-family: 'Century gothic', sans-serif;
    background-color: #fff0f5;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1em;}
button{
    font-size 2em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius:20px;
    border: 0px;
    background-color: #fc6092a3;
    color: #fff0f5;

}
button:hover{
    background-color: #ff4989d6;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: #FFD9ED;
}
header .logo{
    margin: 0%;
    padding: 1% 30px;
    color:#ff4989d6;
    font-weight: bold;
    font-size: 1.2em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black
}
header a:hover{
    color: #F74780;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 90vh;
    background-image:linear-gradient(
        0deg,
         #ffe4f0b2,
         #ffe4f070
    )
     ,url("fondo.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}
#hero h1{
    font-size: 3.8em;
    color: white;
}
#hero h2{
    
    color: #F74780;
}
#introduccion{
    padding: 30px 50px;
    display: flex;
}
#introduccion .container{
    text-align: center;
    padding: 200px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambiarcolor{color: #F74780;}
#banner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa8fb18e;
    background-size:cover ;
    background-position: center center;
    margin-left: 0%;
    width: 100%;
}
#centrate{
    text-align: center;
    padding: 200px 12px;
    margin: 2%
    display:flex;
    justify-content: center;
}
#centrate p{
    font-weight: bold ;
    color: #F74780;
    font-size: 1.7em;
}
#todo p{
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
    font-size: 1.5em;
}
#todo h3{
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:#ff286c;
    font-size: 2em;
    
}
#rostro .container{}
#lineatit{
    display: flex;
    justify-content: center;
    background-color: #F74780;
    border-radius: 30px;
    color: white;
    padding: 2px 3px;
}


footer{
    display: flex;
    background-color: #f7477f39;
    align-items: center;
    justify-content: center;

}
#final .container{
    align-items: center;
    justify-content: center;
}

@media (min-width: 720px ){
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #introduccion{

    }
    #introduccion .img-container{
        background-image: url("imagee.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width:400px;
    }
}
